@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.weather-app {  
  h1 {
    font-size: 3rem;
    font-weight: 900;
    padding: 16px;
    text-align: center;

    span {
      font-weight: 100;
    }
  }
  .weather-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: var(--main-border-radius);
    background-color: var(--bg-color--card);
    color: var(--text-color);
    width: 94%;
    max-width: 900px;
    min-height: 300px;
  }
}
@include media-breakpoint-down(md) {
  .container {
    width: 100% !important;
  }
}