@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.search-form {
  margin: 32px auto;
  width: 400px;

  @include media-breakpoint-down(sm) {
    width: 90%;

    & button {
      width: 100%;
      margin-top: 10px;
    }
  }
  .input-group {

    & .form-control {
      border-color: var(--bg-color);
  
      &:focus {
        box-shadow: none;
        border-color: var(--second-color);
      }
    }
  }
}

